
@media screen and (max-width: 767px){
  #a{
    grid-area: a;
    background-color: lightblue;
  } 
  
  #b{
   
    grid-area: b;
    background-color: lavender;
  }
  
  #c{
    grid-area: c;
    background-color: lightcoral;
    
  }
  
  #d{
    grid-area: d;
    background-color: lightcyan;
  }
  

  #e{
    background-color: lightgreen;
    grid-area: e;
  }  

  #f{
    background-color: red;
    grid-area: f;
  }  

  #g{
    background-color: black;
    grid-area: g;
  }  

  #h{
    background-color: navy;
    grid-area: h;
  }  
  
  #i{
    grid-area: i;
    background-color: lightpink;
  } 
}

@media screen and (min-width: 768px){
  body {
    
    width: 960px;
  }

  #a{
    grid-area: a;
    background-color: lightpink;
  } 
  
  #b{
   
    grid-area: b;
    background-color: lightgoldenrodyellow;
  }
  
  #c{
   
    grid-area: c;
    background-color: lightsalmon
  }
  
  #d{
   
    grid-area: d;
    background-color: lightslategray;
  }
  
  
  #e{
    background-color: aquamarine;
    grid-area: e;
   
  }  

  #f{
    background-color: purple;
    grid-area: f;
   
  }  

  #g{
    background-color: saddlebrown;
    grid-area: g;
   
  }  

  #h{
    background-color: peru;
    grid-area: h;
   
  }  
  
  #i{
   
    grid-area: i;
    background-color: lightseagreen;
  }
   
}

